.hero {
    @extend %d-flex;
    div {
        width: 50%;
        position: relative;
        img {
            width: 100%;
            position: relative;
            top: 20px;
        }
    }
}

.hero__title {
    @include satr(52px, 125%)
}

.hero__word {
    @extend %text;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hero__link {
    width: 100%;
    color: var(--main-font, #363738);
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border-bottom: 3px solid $bgcolor;
    padding-bottom: 10px;
}